<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Raveinfosys_Tracknoroute::tracknoroute" title="Track 404 pages" sortOrder="10" >
                        <resource id="Raveinfosys_Tracknoroute::entries" title="Entries" sortOrder="40">
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>