<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Raveinfosys_Tracknoroute::tracknoroute" title="404 Error Pages" module="Raveinfosys_Tracknoroute" sortOrder="20" resource="Raveinfosys_Tracknoroute::tracknoroute" action="tracknoroute/tracknoroute" parent="Magento_Backend::marketing_seo"/>
    </menu>
</config>